# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
package-lock.json
.env

# Logs
logs/
*.log
pids/
*.pid
*.seed
*.pid.lock

# Docker
docker-compose.override.yml
**/Dockerfile.*

# MySQL
mysql-data/
*.sql
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# IDE / Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Build output
dist/
build/
tmp/
